@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hi</h1>
    <p>This is a .NET core 6 application templated with Razor Pages</p>
    <p>CRUD operations are available in the 'BOOKS' tab, along with client side form validation and database persistence</p>
</div>
